*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-image: url("./images/form bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.form{
  margin: 100px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
 color: white;
}
.form label{
  margin: 5px 0 5px 0;
  font-size: 15px;
}
.form input{
  border: solid rgb(255, 0, 200) 2px;
  border-radius: 8px;
  padding: 10px;

}
.formbox{
background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  display: block;
  max-width: 500px;
  border-radius: 8px;
  z-index: 1;
    overflow: hidden;
    position: relative;
}


.formbox::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 5px;
  background: linear-gradient(120deg,
      purple,
      violet,
      magenta,
      purple);
  background-size: 300%;
  animation: shine 4s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}
.user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align-last: left;
}
.order-info{
    display: flex;
      flex-direction: column;
      justify-content: center;
      text-align-last: left;
}
h3{
  font-size: 15px;
}
.address-line2{
  display: flex;
}
.address-line2 input{
  margin: 2px;
}
